Workbook for calculating Betas and baskets of betas. 

Poultry: PPC, TSN, HRL
Pharma: RHHBY, MRNA, PFE

In [1]:
import requests
import pandas as pd
from io import StringIO
import os
from dotenv import load_dotenv
# loading variables from .env file
load_dotenv()
apikey = os.getenv('apikey')

In [2]:
response = requests.get("https://api.twelvedata.com/beta?apikey=" + apikey + "&interval=1day&symbol=PPC&outputsize=180&format=CSV")

In [3]:
s = response.text
s = s.strip()

ppc = pd.read_csv(StringIO(s), sep=';')
ppc.to_csv('ppc_beta_long.csv')

In [4]:
ppc['PilgrimPride']=ppc['beta']

In [5]:
ppc=ppc.drop('beta',axis=1)

In [6]:
ppc.head()

     datetime  PilgrimPride
0  2025-07-15      0.019064
1  2025-07-14     -0.046123
2  2025-07-11     -0.062145
3  2025-07-10     -0.048624
4  2025-07-09      0.010739

In [7]:
response = requests.get("https://api.twelvedata.com/beta?apikey=" + apikey + "&interval=1day&symbol=TSN&outputsize=180&format=CSV")

In [8]:
s = response.text
s = s.strip()

tsn = pd.read_csv(StringIO(s), sep=';')
tsn.to_csv('tsn_beta_long.csv')

In [9]:
tsn['Tysons']=tsn['beta']

In [10]:
tsn.head()

     datetime      beta    Tysons
0  2025-07-15  0.105762  0.105762
1  2025-07-14  0.351824  0.351824
2  2025-07-11  0.378890  0.378890
3  2025-07-10  0.388054  0.388054
4  2025-07-09  0.347602  0.347602

In [11]:
response = requests.get("https://api.twelvedata.com/beta?apikey=" + apikey + "&interval=1day&symbol=HRL&outputsize=180&format=CSV")

In [12]:
s = response.text
s = s.strip()

hrl = pd.read_csv(StringIO(s), sep=';')
hrl.to_csv('hrl_beta_long.csv')

In [13]:
hrl['Hormel']=hrl['beta']

In [14]:
hrl.head()

     datetime      beta    Hormel
0  2025-07-15  0.229916  0.229916
1  2025-07-14  0.162845  0.162845
2  2025-07-11 -0.464691 -0.464691
3  2025-07-10 -0.161174 -0.161174
4  2025-07-09 -0.197910 -0.197910

In [15]:

food_beta = pd.concat([ppc,hrl['Hormel'],tsn['Tysons']], axis=1, join='inner')

In [16]:
food_beta.head()

     datetime  PilgrimPride    Hormel    Tysons
0  2025-07-15      0.019064  0.229916  0.105762
1  2025-07-14     -0.046123  0.162845  0.351824
2  2025-07-11     -0.062145 -0.464691  0.378890
3  2025-07-10     -0.048624 -0.161174  0.388054
4  2025-07-09      0.010739 -0.197910  0.347602

In [17]:
def average_beta(row):
    return ((row['PilgrimPride']+row['Hormel']+row['Tysons'])/3)
food_beta['average_beta']=food_beta.apply(average_beta,axis=1)

In [18]:
food_beta.head()

     datetime  PilgrimPride    Hormel    Tysons  average_beta
0  2025-07-15      0.019064  0.229916  0.105762      0.118247
1  2025-07-14     -0.046123  0.162845  0.351824      0.156182
2  2025-07-11     -0.062145 -0.464691  0.378890     -0.049315
3  2025-07-10     -0.048624 -0.161174  0.388054      0.059419
4  2025-07-09      0.010739 -0.197910  0.347602      0.053477

In [19]:
food_beta.to_csv('food_beta.csv')

In [20]:
response = requests.get("https://api.twelvedata.com/beta?apikey=" + apikey + "&interval=1day&symbol=rhhby&outputsize=180&format=CSV")

In [21]:
s = response.text
s = s.strip()

rhhby = pd.read_csv(StringIO(s), sep=';')
rhhby.to_csv('rhhby_beta_long.csv')

In [22]:
response = requests.get("https://api.twelvedata.com/beta?apikey=" + apikey "&interval=1day&symbol=MRNA&outputsize=180&format=CSV")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (52090882.py, line 1)

In [ ]:
s = response.text
s = s.strip()

mrna = pd.read_csv(StringIO(s), sep=';')
mrna.to_csv('mrna_beta_long.csv')

In [ ]:
response = requests.get("https://api.twelvedata.com/beta?apikey=" + apikey + "&interval=1day&symbol=pfe&outputsize=180&format=CSV")

In [ ]:
s = response.text
s = s.strip()

pfe = pd.read_csv(StringIO(s), sep=';')
pfe.to_csv('pfe_beta_long.csv')

In [ ]:
rhhby['Roche']=rhhby['beta']
mrna['Moderna']=mrna['beta']
pfe['Pfizer']=pfe['beta']

In [ ]:
rhhby=rhhby.drop('beta',axis=1)

In [ ]:
pharma_beta = pd.concat([rhhby,mrna['Moderna'],pfe['Pfizer']], axis=1, join='inner')

In [ ]:
pharma_beta.head()

In [ ]:
def average_beta_again(row):
    return ((row['Roche']+row['Moderna']+row['Pfizer'])/3)
pharma_beta['average_beta']=pharma_beta.apply(average_beta_again,axis=1)

In [ ]:
pharma_beta.head()

In [ ]:
pharma_beta['pharma_beta']=pharma_beta['average_beta']

In [ ]:
food_beta['food_beta']=food_beta['average_beta']

In [ ]:
food_holder=food_beta[['datetime','food_beta']]

In [ ]:
beta_contrast = pd.concat([food_holder,pharma_beta['pharma_beta']], axis=1, join='inner')

In [ ]:
beta_contrast.to_csv('beta_contrast.csv')
food_beta.to_csv('food_beta.csv')
pharma_beta.to_csv('pharma_beta.csv')