Workbook to measure OBV (on-balance volume) for our six stocks

In [1]:
import requests
import pandas as pd
from io import StringIO
import os
from dotenv import load_dotenv
# loading variables from .env file
load_dotenv()
apikey = os.getenv('apikey')

In [2]:


response = requests.get("https://api.twelvedata.com/obv?apikey=" + apikey + "&interval=1day&start_date=2024-01-01 10:14:00&end_date=2025-07-01 10:14:00&format=CSV&symbol=ppc")

s = response.text
s = s.strip()

ppc = pd.read_csv(StringIO(s), sep=';')
ppc.to_csv('ppc_obv.csv')

In [3]:

response = requests.get("https://api.twelvedata.com/obv?apikey=" + apikey + "&interval=1day&start_date=2024-01-01 10:14:00&end_date=2025-07-01 10:14:00&format=CSV&symbol=tsn")

s = response.text
s = s.strip()

tsn = pd.read_csv(StringIO(s), sep=';')
tsn.to_csv('tsn_obv.csv')

In [4]:

response = requests.get("https://api.twelvedata.com/obv?apikey=" + apikey + "&interval=1day&start_date=2024-01-01 10:14:00&end_date=2025-07-01 10:14:00&format=CSV&symbol=hrl")

s = response.text
s = s.strip()

hrl = pd.read_csv(StringIO(s), sep=';')
hrl.to_csv('hrl_obv.csv')

In [5]:

response = requests.get("https://api.twelvedata.com/obv?apikey=" + apikey + "&interval=1day&start_date=2024-01-01 10:14:00&end_date=2025-07-01 10:14:00&format=CSV&symbol=rhhby")

s = response.text
s = s.strip()

rhhby = pd.read_csv(StringIO(s), sep=';')
rhhby.to_csv('rhhby_obv.csv')

In [6]:

response = requests.get("https://api.twelvedata.com/obv?apikey=" + apikey + "&interval=1day&start_date=2024-01-01 10:14:00&end_date=2025-07-01 10:14:00&format=CSV&symbol=mrna")

s = response.text
s = s.strip()

mrna = pd.read_csv(StringIO(s), sep=';')
mrna.to_csv('mrna_obv.csv')

In [7]:

response = requests.get("https://api.twelvedata.com/obv?apikey=" + apikey + "&interval=1day&start_date=2024-01-01 10:14:00&end_date=2025-07-01 10:14:00&format=CSV&symbol=pfe")

s = response.text
s = s.strip()

pfe = pd.read_csv(StringIO(s), sep=';')
pfe.to_csv('pfe_obv.csv')

In [8]:
ppc.head()

     datetime       obv
0  2025-07-01  26761900
1  2025-06-30  25218100
2  2025-06-27  23812500
3  2025-06-26  21739200
4  2025-06-25  22916600

In [9]:
response = requests.get("https://api.twelvedata.com/obv?apikey=" + apikey + "&interval=1day&start_date=2024-01-01 10:14:00&end_date=2025-07-01 10:14:00&format=CSV&symbol=mrna")

s = response.text
s = s.strip()

mrna = pd.read_csv(StringIO(s), sep=';')
mrna.to_csv('mrna_obv.csv')

In [10]:
mrna.head()

     datetime        obv
0  2025-07-01 -190472700
1  2025-06-30 -205026600
2  2025-06-27 -215202000
3  2025-06-26 -203654400
4  2025-06-25 -212943500

In [11]:
ppc['PilgrimPride']=ppc['obv']
ppc_holder=ppc[['datetime','PilgrimPride']]
mrna['Moderna']=mrna['obv']

In [12]:
obv_ppc_mrna=pd.concat([ppc_holder,mrna['Moderna']], axis=1, join='inner')

In [13]:
obv_ppc_mrna.head()

     datetime  PilgrimPride    Moderna
0  2025-07-01      26761900 -190472700
1  2025-06-30      25218100 -205026600
2  2025-06-27      23812500 -215202000
3  2025-06-26      21739200 -203654400
4  2025-06-25      22916600 -212943500

In [14]:
obv_ppc_mrna.to_csv('obv_ppc_mrna.csv')